@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap');

body {
    font-family: 'Noto Serif JP', serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    line-height: 1.8;
}

h2 {
  color: #ca1111;
  border-left: 4px solid #ff0000;
  padding-left: 0.5rem;
  text-shadow: 0 0 6px #600000;
}

header {
    text-align: center;
    background: linear-gradient(to bottom, #630101, #000);
    padding: 1.5rem 1rem;
    border-bottom: 1px solid #330000;
}

.welcome {
    color: #ff0000;
    text-shadow: 0 0 2px white;
    font-size: 2.5rem;
    margin: 0;
}

.nfjo {
    color: white;
    font-size: 1.2rem;
    margin: 0;
}

nav {
  margin-top: 1rem;
}

nav a {
  color: #ff4444;
  margin: 0 1rem;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
    color: white;
    text-shadow: 0 0 60px #ff0000;
}

section {
  padding: 2rem 1rem;
  max-width: 800px;
  margin: auto;
  border-bottom: 1px solid #300000;
}

.setlist-box {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.setlist-day {
    width: 48%;
    background: rgba(20, 0, 0, 0.8);
    border: 1px solid #400000;
    padding: 1rem;
    border-radius: 8px;
    flex: 1;
    min-width: 220px;
    max-width: 300px;
}

.setlist-day h3 {
    margin: 0 0 12px 0;
    font-size: 1.3rem;
    text-align: center;
    color: rgb(180, 3, 3);
}

.setlist-day ul {
    margin: 0;
    padding-left: 20px;
}

.setlist-day li {
    margin-bottom: 6px;
    list-style: none;
}

.setlist-day li::before {
    content: "• ";
    color: #888;
}

@media (max-width: 600px) {
  .setlist-day {
    width: 100%;
  }
}

.member-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.member {
  background: rgba(20, 0, 0, 0.8);
  border: 1px solid #400000;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
}

.member img {
  width: 100%;
  max-width: 200px;
  border-radius: 8px;
  border: 1px solid #ff0000;
  box-shadow: 0 0 10px #400000;
}

footer {
  text-align: left;
  padding: 1rem;
  font-size: 0.9rem;
  color: #888;
  background: linear-gradient(to bottom, #000000, #410000);
}
